@import url("https://fonts.googleapis.com/css?family=Cookie");

.custom-container {
    background-color: darkseagreen;
    overflow: hidden;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Cookie', cursive;
    overflow: hidden;
}


svg {
    width: 90%;
    height: 100%;
    visibility: hidden;
    overflow: visible;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    display: none;

}

#days {
    font-size: 50px;
    color: #fff;
    text-align: center;
    letter-spacing: 3px;
    margin: 50px 0 0 0;
}

.drop {
    position: absolute;
    top: 0;
    z-index: -1;
    opacity: 0;
}

.snow {
    height: 8px;
    width: 8px;
    border-radius: 100%;
    background-color: #fff;
    box-shadow: 0 0 10px #fff;
}

.animate {
    animation: falling 8.5s infinite ease-in;
}

@keyframes falling {
    0% {
        top: 0;
        opacity: 1;
    }

    100% {
        top: 1500px;
        opacity: 0;
    }
}