.gift_show-gift {
    width : 100px !important;
    height: 100px !important;
    border: 1px solid #555;
    opacity: 1;
    transition: opacity 1s;
    cursor: pointer;
}

.gift_show-gift:hover {
    opacity: 1;
}

.money-custom {
    background: red;
    color: yellow;
    width: 30%;
    font-size: 25px;
    border-radius: 10px;
    text-align: center;
}

@keyframes show-up {
    0% {}
    50% {transform: scale(0.8, 0.8)}
    100% {transform: scale(1, 1)}
}

.gift_receive_show-gift{
    max-height: 100%;
    max-width: 100%;
    border: 1px solid #555;
    animation-name : show-up;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.background-image {
    max-width: 100%;
    max-height: 100%;
    /*object-fit: contain;*/
}

.modal-container {
    position: absolute;
    top:0;
    left: 0;
}

